
.login-input {
  background-color: #E2D6D6;
}

.custom-input:focus {
  border-color: #9B6262 !important;
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25) !important;
  background-color: #9B6262;
  border-radius: 0%;
  
}
.form-check-input:not(:checked) {
  background-color:  #E2D6D6;
}
.signup-link {
  text-decoration: none;
  color: #9B6262;
}
@media (min-width: 576px) {
  .element {
    width: 35%; /* Diğer boyutlar için %50 genişlik */
  }
}

/* Ekran boyutu 576px altında (sm boyutu) */
@media (max-width: 575.98px) {
  .element {
    width: 100%; /* sm boyutunda %100 genişlik */
  }
}
@media (min-width: 576px) {
  .font {
    font-size: 18px; /* Diğer boyutlar için 16px font boyutu */
  }
}

/* Ekran boyutu 576px altında (sm boyutu) */
@media (max-width: 575.98px) {
  .font {
    font-size: 14px; /* sm boyutunda 14px font boyutu */
  }
}

.bg-image {
  background-image: url('images/background-image.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-image-home {
  background-image: url('images/background-image2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
 min-height: 100vh;
  
}
.nav-link:hover {
  color: #9B6262; /* Hover rengi */

}